.popop{
  position: absolute;
  top: 103px;
  left: -300px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  opacity: 0; 
  transition: all 0.3s ease-in-out; 

 
}
  .popop.show {
    left: 20px; 
    opacity: 1; 
  }
