.loading {
  display: block;
  width: 200px;
  max-height: 200px;
  height: 100%;
  background-color: transparent;
  border: 1em solid #fff159;
  border-right: 1em solid transparent;
  border-radius: 50%;
  animation: loading 1s ease-in-out infinite;
}
.containerLoading{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}